<div class="container">
  <div class="content first-content">
      <div class="first-column">
          <img src="https://github.com/nickdiegao/logo/blob/main/image-3-removebg-preview.png?raw=true" alt="logo" width="150px" height="150">
          <p class="description description-primary">Já possui uma conta?</p>
          <p class="description description-primary">Realize seu login</p>
          <button class="btn btn-primary" [routerLink]="['/login']">Login</button>
      </div>    
      <div class="second-column">
          <p>
            <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
          <h2 class="title title-second">Realize seu cadastro</h2>
          <div class="social-media">
            <ul class="list-social-media">
                <!-- Facebook -->
                <a class="link-social-media" href="#">
                    <li class="item-social-media">
                        <i class="fab fa-facebook-f"></i>        
                    </li>
                </a>
                
                <!-- Google -->
                <a class="link-social-media" href="#">
                    <li class="item-social-media">
                        <i class="fab fa-google-plus-g"></i>
                    </li>
                </a>
        
                <!-- Instagram -->
                <a class="link-social-media" href="#">
                    <li class="item-social-media">
                        <i class="fab fa-instagram"></i>

                    </li>
                </a>
            </ul>
        </div><!-- social media -->
          <p class="description description-second">ou cadastre-se com</p>
          <!-- Formulário de Cadastro -->
          <form class="form" (ngSubmit)="onSubmit()">
              <label class="label-input" for="">
                  <i class="far fa-user icon-modify"></i>
                  <input type="text" placeholder="Nome" [(ngModel)]="user.nome" name="nome" required>
              </label>

              <label class="label-input" for="">
                  <i class="fas fa-birthday-cake icon-modify"></i>
                  <input type="number" placeholder="Idade" [(ngModel)]="user.idade" name="idade" required>
              </label>

              <label class="label-input" for="">
                  <i class="far fa-envelope icon-modify"></i>
                  <input type="email" placeholder="Email" [(ngModel)]="user.email" name="email" required>
              </label>

              <label class="label-input" for="">
                  <i class="fas fa-lock icon-modify"></i>
                  <input type="password" placeholder="Senha" [(ngModel)]="user.senha" name="senha" required>
              </label>

              <!-- Campo Nome do Responsável -->
              <label class="label-input" for="">
                  <i class="fas fa-user-tie icon-modify"></i>
                  <input type="text" placeholder="Nome do Responsável" [(ngModel)]="user.nomeDoResponsavel" name="responsavelNome" required>
              </label>

              <!-- Campo Nome do Segundo Responsável -->
              <label class="label-input" for="">
                  <i class="fas fa-user-tie icon-modify"></i>
                  <input type="text" placeholder="Nome do Segundo Responsável" [(ngModel)]="user.nomeDoResponsavel2" name="responsavelSegundoNome" required>
              </label>

              <button class="btn btn-second" type="submit">Cadastrar</button>        
          </form>

          <!-- Mensagem de Sucesso -->
          <p *ngIf="sucesso" class="description description-success">
              Usuário cadastrado com sucesso!
          </p>
      </div><!-- second column -->
  </div><!-- first content -->
</div>
